.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  background-image: url(../img/svg/logo.svg);
  width: 46px;
  height: 36px;
}

.burger {
  background-image: url(../img/svg/burger.svg);
  width: 12px;
  height: 10px;
}

.arrow-left {
  background-image: url(../img/svg/arrow-left.svg);
  width: 6px;
  height: 12px;
}

.arrow-right {
  background-image: url(../img/svg/arrow-left.svg);
  transform: rotate(180deg);
  width: 6px;
  height: 12px;
}

.whiteness {
  background-image: url(../img/svg/whiteness.svg);
  width: 80px;
  height: 80px;
}

.stable {
  background-image: url(../img/svg/stable.svg);
  width: 80px;
  height: 80px;
}

.time {
  background-image: url(../img/svg/deadline.svg);
  width: 80px;
  height: 80px;
}

.feedback {
  background-image: url(../img/svg/clients.svg);
  width: 80px;
  height: 80px;
}

.why-arrow-left {
  background-image: url(../img/svg/why-arrow-left.svg);
  width: 25px;
  height: 33px;
}

.why-arrow-right {
  background-image: url(../img/svg/why-arrow-left.svg);
  transform: rotate(180deg);
  width: 33px;
  height: 33px;
}

.phone {
  background-image: url(../img/svg/phone.svg);
  width: 27px;
  background-size: cover;
  height: 34px;
}

.facebook {
  background-image: url(../img/svg/facebook.svg);
  width: 24px;
  background-size: cover;
  height: 24px;
}

.instagram {
  background-image: url(../img/svg/instagram.svg);
  width: 24px;
  background-size: cover;
  height: 24px;
}

.email {
  background-image: url(../img/svg/email.svg);
  width: 50px;
  height: 50px;
}

.location {
  background-image: url(../img/svg/location.svg);
  width: 50px;
  height: 50px;
}

.phone-white {
  background-image: url(../img/svg/phone--white.svg);
  width: 50px;
  height: 50px;
}

.telegram {
  background-image: url(../img/svg/telegram.svg);
  width: 50px;
  height: 50px;
}

.statistics {
  background-image: url(../img/svg/statistics.svg);
  width: 40px;
  height: 40px;
}

.project {
  background-image: url(../img/svg/project.svg);
  width: 40px;
  height: 40px;
}

.document {
  background-image: url(../img/svg/document.svg);
  width: 40px;
  height: 40px;
}

.ratio {
  background-image: url(../img/svg/ratio.svg);
  width: 40px;
  height: 40px;
}

.role {
  background-image: url(../img/svg/role.svg);
  width: 40px;
  height: 40px;
}

.deliver {
  background-image: url(../img/svg/delivery.svg);
  width: 40px;
  height: 40px;
}

.lasting {
  background-image: url(../img/svg/delivery.svg);
  width: 40px;
  height: 40px;
}

.sale {
  background-image: url(../img/svg/sale.svg);
  width: 40px;
  height: 40px;
}

.pallet {
  background-image: url(../img/svg/pallet.svg);
  width: 40px;
  height: 40px;
}

.growth {
  background-image: url(../img/svg/growth.svg);
  width: 40px;
  height: 40px;
}

.help {
  background-image: url(../img/svg/help.svg);
  width: 40px;
  height: 40px;
}

.download {
  background-image: url(../img/svg/download.svg);
  width: 18px;
  height: 18px;
}

.check {
  background-image: url(../img/svg/check.svg);
  width: 40px;
  height: 40px;
}

.technology {
  background-image: url(../img/svg/technology.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

.branding {
  background-image: url(../img/svg/branding.svg);
  width: 40px;
  height: 40px;
}

.arrow-fill-down {
  background-image: url(../img/svg/blue-arrow-fill.svg);
  width: 16px;
  height: 13px;
}

.arrow-empty-down {
  background-image: url(../img/svg/arrow-empty-down.svg);
  width: 16px;
  height: 13px;
}