.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  background-image: url(../img/svg/logo.svg);
  width: 46px;
  height: 36px;
}

.burger {
  background-image: url(../img/svg/burger.svg);
  width: 12px;
  height: 10px;
}

.arrow-left {
  background-image: url(../img/svg/arrow-left.svg);
  width: 6px;
  height: 12px;
}

.arrow-right {
  background-image: url(../img/svg/arrow-left.svg);
  transform: rotate(180deg);
  width: 6px;
  height: 12px;
}

.whiteness {
  background-image: url(../img/svg/whiteness.svg);
  width: 80px;
  height: 80px;
}

.stable {
  background-image: url(../img/svg/stable.svg);
  width: 80px;
  height: 80px;
}

.time {
  background-image: url(../img/svg/deadline.svg);
  width: 80px;
  height: 80px;
}

.feedback {
  background-image: url(../img/svg/clients.svg);
  width: 80px;
  height: 80px;
}

.why-arrow-left {
  background-image: url(../img/svg/why-arrow-left.svg);
  width: 25px;
  height: 33px;
}

.why-arrow-right {
  background-image: url(../img/svg/why-arrow-left.svg);
  transform: rotate(180deg);
  width:33px;
  height: 33px;
}