.main-nav {
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 75px;

  &.desktop {
    @include block_767 {
      display: none;
    }
  }

  &.mobile {
    background-color: #e3f3fb;

    .main-nav-header {
      a {
        z-index: 0;
      }
    }

    @media (min-width:768px) {
      display: none;
    }
  }

  @include block_767 {
    padding-top: 30px;
    padding-bottom: 30px;

  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include block_991 {
      justify-content: space-between;
    }
  }

  &-header {
    margin-right: 131px;

    @include block_991 {
      margin-right: 0;
    }

    @include block_767 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .logo {
      margin-right: 10px;
    }

    a {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 24px;
      line-height: 1.25;
      color: #000000;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width:1200px) {
      padding-right: 90px;
    }

    @media (min-width:992px) {
      padding-right: 79px;
    }

    @include block_767 {
      flex-direction: column;
    }

    li {
      margin-right: 39px;

      @include block_991 {
        margin-right: 20px;
      }

      @include block_767 {
        margin-right: 0;
        margin-bottom: 12%;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        color: #556270;
      }
    }
  }

  .links-container {
    @include block_767 {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 100;
      background-image: url(../img/bg/waves-bg.jpg);
      background-position: center center;
      background-size: cover;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 26px;

      &.active {
        display: flex;
      }
    }
  }

  &-contacts {
    a {
      font-weight: 600;
      color: #000000;
    }
  }

  &-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .phone {
      background-position: 0 4px;
    }
  }
}

.nav-toggle {
  display: none;
  border-width: 0;
  background-color: transparent;
  padding: 11px;

  @include block_767 {
    display: initial;
    z-index: 101;
  }
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: 0.4s;
  z-index: 1001;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px 18px;

  a {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.nav-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}