.popular {
  padding-bottom: 80px;

  @include block_575 {
    padding-bottom: 30px;
  }

  &-card {
    margin-bottom: 30px;
    text-align: center;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 291px;
      background-image: linear-gradient(139.49deg, #F6F6F6 0%, #FFFFFF 100%);
      box-shadow: 4px 4px 10px -5px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;

      @include block_480 {
        min-height: 148px;
      }

      img {
        max-width: 190px;
        max-height: 190px;

        @include block_480 {
          max-width: 97px;
          max-height: 97px;
        }
      }
    }
  }

  .to-catalog {
    display: block;
    width: max-content;
    margin: 55px auto 0;
    border: 2px solid #4DA9F5;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 16px 39px;

    &:hover {
      color: #fff;
      background-image: linear-gradient(135deg, #74C0FC 0%, #339AF0 100%);
    }

    @include block_575 {
      font-size: 14px;
      margin-top: 30px;
    }
  }
}