.set {
  @include block_480 {
    padding-top: 53px;
  }

  .container {
    @include block_480 {
      padding-right: 0;

      .swiper-slide {
        width: 260px;
      }
    }
  }

  &-card {
    min-height: 295px;
    height: 100%;
    padding: 40px;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.1);
    background-image: url(../img/products/kitchen.png);
    background-color: #D0EBFF;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include block_575 {
      min-height: 260px;
    }

    @include block_320 {
      width: 260px;
      padding: 40px 25px;
    }

    @include custom-media(400px) {
      background-size: 100%;
    }

    &.second {
      background-image: url(../img/products/bar.png);
    }

    &.third {
      background-image: url(../img/products/hot.png);
    }

    h3 {
      max-width: 226px;
      margin-bottom: 24px;

      @include block_991 {
        max-width: 100%;
        font-size: 23px;

      }

      @include block_575 {
        margin-bottom: 38px;
        font-size: 18px;
      }
    }

    a {
      width: max-content;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.21;
      color: #000000;
      padding: 9px 30px;
      border: 2px solid #4DA9F5;
      border-radius: 5px;

      @include block_575 {
        font-size: 12px;
      }

      &:hover {
        color: #fff;
        background-image: linear-gradient(135deg, #74C0FC 0%, #339AF0 100%);
      }
    }
  }
}