.header-content {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include block_767 {
      img {
        max-width: 80%;
      }
    }
  }

  .slider-controls {
    display: flex;
    align-items: center;

    @include block_991 {
      width: 100%;
      position: absolute;
      top: -120%;
      left: 0;
      justify-content: space-between;
      z-index: 1;
    }

    @include block_767 {
      top: -95%;
    }

    @include block_575 {
      top: -116%;
    }

    @include block_480 {
      top: -90%;
    }

    @include custom-media(400px) {
      top: -75%;
    }

    @include custom-media(340px) {
      top: -70%;
    }

    @include custom-media(320px) {
      top: -60%;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(68, 68, 68, 0.05);
      border-radius: 5px;

      &:first-child {
        margin-right: 10px;
      }

      &:hover,
      &:focus {
        background-image: linear-gradient(135deg, rgba(116, 192, 252, 0.5) 0%, rgba(51, 154, 240, 0.5) 100%);
        border-radius: 5px;
      }
    }
  }
}

.swiper-container.complect {
  .swiper-slide {
    height: auto;
  }
}

.set {
  .swiper-slide {
    height: auto;
  }
}

.why {
  .swiper-container {
    position: relative;
  }

  .slider-navigation {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include block_480 {
      top: 25%;
    }

    button {
      width: 25px;
      height: 33px;
      border-width: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;

      &.why-arrow-right {
        margin-top: -14px;
      }
    }
  }
}

.partners {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.retail-why {
  .swiper-container {
    padding-bottom: 20px;
  }
}

.where {
  .swiper-container {
    box-shadow: 0px 4px 15px -5px #4DA9F5;
    background-color: #A5D8FF;
  }

  &-item {
    padding: 30px 50px;
  }
}

.lifehack {
  .container {
    position: relative;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .slider-navigation {
    top: 63%;

    @include block_575 {
      top: 57%;
    }


    @include custom-media(523px) {
      display: none;
    }

    .why-arrow-left {
      margin-left: -74px;

      @include custom-media(1300px) {
        margin-left: -31px;
      }

      @include block_575 {
        margin-left: 30px;
      }
    }

    .why-arrow-right {
      margin-right: -44px;

      @include custom-media(1300px) {
        margin-right: 0;
      }

      @include block_575 {
        margin-right: 67px;
      }
    }
  }
}